.ruleWraper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgb(87, 115, 151);
    margin: 10px 0px;
}

.rule {
    box-sizing: border-box;
    width: 48%;
    padding: 5px;
    height: 70%;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(146, 219, 195);

}
.body {
    box-sizing: border-box;
    width: 48%;
    padding: 5px;
    height: 70%;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(214, 149, 149);

}

.ul {
    list-style: disc;
    font-size: 28px;
    color: brown;
    margin: 3px;
}

.li {
    list-style: circle;
    font-size: 18px;
    color: rgb(1, 109, 55);
    margin: 5px;
}
li:hover {
    color: brown;

}